.fan {
  color: white;
  overflow: hidden;
}

.fan.still {
  animation: none;
}

.fan.start {
  animation: rotate2 2000ms 1 cubic-bezier(0.5, 0, 0.9, 0.8);
}

.fan.rotating {
  animation: rotate 2000ms infinite linear;
}

.fan.stop {
  animation: rotate2 2000ms 1 cubic-bezier(0.1, 0.2, 0.5, 1);
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate2 {
  to {
    transform: rotate(180deg);
  }
}
