<div style="padding: 2rem">
  <p>
    Remote station: @if (loading) {Loading...} @else {@if (isOn) { On } @else {
    Off }}
  </p>
  <mat-slide-toggle
    [checked]="isOn"
    [hideIcon]="true"
    (change)="setOnOff($event)"
  ></mat-slide-toggle>
  <p style="margin-top: 2rem">
    Fan Status: @if (loading) {Loading...} @else {@if (fanIsOn) { On } @else {
    Off }}
  </p>
  <div>
    <mat-slide-toggle
      [checked]="fanIsOn"
      [hideIcon]="true"
      [disabled]="!isOn"
      (change)="setFan($event)"
    ></mat-slide-toggle>
  </div>
  <img src="../../../assets/fan.png" [ngClass]="currentFanClasses" />
</div>
